{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>All Courses</h1>
</div>
<div class="row">

  <div class="col-sm-4">
    {% for course in courses %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course['name']}}</h5>
        <p class="card-text">Total Branches : {{course['no_of_branches']}}</p>
        {% if course['processed'] %}
        <span class="badge badge-pill badge-success">Processed</span>
        {% else %}
        <span class="badge badge-pill badge-danger">Pending</span>
        {% endif %}
      <br>
        <a href="{{url_for('viewStudents',course_id=course['course_id'])}}" class="btn btn-primary">View More</a>
      </div>
    </div>
  </div>
  {% endfor %}

   <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add New Course</h5>
        <p class="card-text"><a href="{{url_for('uploadStudents')}}" class="btn btn-success">Add New</a> </p>
      <br>
      </div>
    </div>

</div>

{% endblock %}
