{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container form-group">
  <h2 class="title">Add Students List</h2>
  <form method="POST" action="{{url_for('uploadStudents')}}" enctype="multipart/form-data">

          {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.name.label }}
         {{form.name(size=20)}}

        </div>
      <div class="form-field">
          {{ form.course_id.label }}
          {{ form.course_id }}
      </div>
      <div class="form-field">
          {{ form.no_of_choices.label }}
          {{ form.no_of_choices }}
      </div>
      <div class="form-field">
          {{ form.special_category.label }}
          {{ form.special_category }}
      </div>
      <div class="form-field">
          {{ form.file.label }}
          {{ form.file }}
      </div>
      {{ form.submit }}
  </form>
</div>


{% endblock %}
